
/*  --- GENERAL STYLING (colours etc) --- */

html {
    height: 100vmax;
    margin: 0;
    padding: 0;
    background: linear-gradient( #FFF, 70%, #FDD5F5);
}

body {
    font-size: 10pt;
    text-align: center;
    font-family: 'Source Code Pro','Inconsolata','Courier New', monospace;
    display: flex;
    flex-flow: column wrap;
    position:absolute;
    width: 90vw;
    margin: 0;
}

.header a{
    text-decoration: none;
    color: #000;
}


h1 {
    font-size: 3.5em;
    letter-spacing: 0.5em;
    background: none;
}

#main-title a{
    text-decoration: none;
    color: #000;
    transition: color 0.5s;
}

#main-title a:hover {
    color: white;
}

#header-menu {
    background: none;
    list-style: none;
}

#header-menu li {
    border: 3px solid #fff;
    transition: background-color 0.3s;
}

#header-menu li:hover {
    background-color: #9fcf53;
}

h2 {
    font-size: 2em;
    letter-spacing: 0.5em;
    font-variant: small-caps;
}

#footer{
    border: none;
    font-style: italic;
}

.showDiv {
    text-align: left;
}

ul{
    list-style-type: none;
    padding: 0;
}
.listen-link a{
    text-decoration: none;
    color: grey;
    transition: color 0.3s;
    width:max-content;
    margin: 10px;
    padding: 10px;
    
}

.listen-link a:hover{
    color:#bfe5F7;
}

#song-links {
    display: flex;
    justify-content: center;
}

.song-title {
    transition: color 0.3s;
}

.song-title:hover{
    color: #bfe5F7;
}

h3 {
    margin: 5px;
    font-size: 1.5em;
    letter-spacing: 5pt;
}

#song-year {
    font-style: italic;
    color: #afafaf;
    padding: 5px;
}

#center-heading {
    font-size: 2.5em;
    font-variant: small-caps;
    font-weight: bold;
    padding-left: 20px;
    margin: 20px;
    letter-spacing: 20px;
    width: auto;
    background-color: #FDD5F5;
    border-radius: 50%;
}

#song-blurb {
    margin: 40px;
}

/* --- SIZING & POSITIONING ---*/

#header-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

}

.header-link {
    width: auto;
    margin: 0 10px;
    padding: 15px 20px;
    display: inline-flex;
}

#center-block {
    display: content;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    height:auto;
    border: 1px black solid;
    top: ;
    left: 0;
    right: 0;
}

#center-content {
    background-color: #fff;
    border-radius: 60%;
    height: 350px;
    left: 15%;
    width: auto;
    right: 15%;
    margin: auto;
    display: flex;
    align-items: center;
}


#footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
}

#center-heading-div {
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}
#song-title-list-div {
    display:block;
    visibility:hidden;
    position: absolute;
    background-color: #9fcf53;
    border-radius: 50%;
    width: auto;
    left: 15%;
    right: 15%;
    z-index: 8;
    margin: 15px;
    transition: visibility 0.2ms;
}
#song-title-list-ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: auto;
}

#center-heading-div:hover #song-title-list-div {
    visibility: visible;
}


.song-title {
    width: 28%;
    padding: 10px;
    height: 20px;
    text-align: center;
    word-wrap: normal;
    font-size: 10pt;
    letter-spacing: normal;
    font-variant: normal;
    font-weight: normal;
}

#header-block {
    left: 0;
    right: 0;
    top: 0;
    background-color: #bfe5F7;
    display: block;
    height: 250px;
}